{% extends 'base_layout.html' %}

{% block body %}
<div class="mt">
  <div class="row">
    <div class="col-md-4">
      <div class="touch">
        <div class="card">
          <br>
          <h5 class="text-center">About me</h5>
          <img src= "https://scontent.fbkk12-4.fna.fbcdn.net/v/t1.0-9/142408553_1317462068617380_8451237261112049284_n.jpg?_nc_cat=110&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeHQzNvvS4JjPHnaNkyRc-_jqyhmxRk6spCrKGbFGTqykANOiQ_tHvPOf3p7m8XTuEVTTj6AASmercWUht6nsYb1&_nc_ohc=DyHtdSPzB7oAX98_1xz&_nc_ht=scontent.fbkk12-4.fna&oh=7868d67df41006b3cf0798d1b8258951&oe=603ED4B4">
          </div>
        </div>
      </div>
      <div class="col-md-8">
         <div class="touch">
           <div class="card text-left">
             <div class="card-body">
               <h5 class="text-center">ข้อมูลส่วนตัว</h5>
               <p>ชื่อ : นาย กฤตวัฒน์ กิตติปริคุณ</p>
               <p>รหัสนิสิต : 62102010429</p>
               <p>เบอร์โทร : 0830081725</p>
               
               <a href="https://github.com/Kittawat2543"><i class="fab fa-github-square fa-6x"></i></a>
           </div>
         </div>
       </div>
    </div>
    </div>
  </div>
</div>


{% endblock %}